@font-face {
  font-family: 'Oswald-Medium';
  src: url('../fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Oswald-Medium.woff') format('woff'), url('../fonts/Oswald-Medium.ttf') format('truetype'), url('../fonts/Oswald-Medium.svg#Oswald-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Oswald-Bold.woff') format('woff'), url('../fonts/Oswald-Bold.ttf') format('truetype'), url('../fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ----- fonts ----- */
/* ----- colors ----- */
/* ----- dynamic ----- */
/* ----- media screens ----- */
html {
  overflow-y: scroll;
}
body {
  font: 14px/1.45 'OpenSans-Regular';
  color: #808080;
}
@media screen and ( max-width: 544px ) {
  body {
    font: 12px/1.45 'OpenSans-Regular';
  }
}
body.home-page #main-header .logo-container h1,
body.home-page #main-header .logo-container p {
  color: #fff;
}
body.home-page #main-header .menu-container > ul > li > a {
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  margin: 0;
}
.has-padR {
  padding-right: 15px;
}
@media screen and ( max-width: 767px ) {
  .has-padR {
    padding-right: 0;
  }
}
.has-padL {
  padding-left: 15px;
}
@media screen and ( max-width: 767px ) {
  .has-padL {
    padding-left: 0;
  }
}
.show-menu .mobile-menu {
  right: 0;
}
.getImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.getImg img {
  display: none !important;
}
.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;
  z-index: 999;
  background: #1a1a1a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.mobile-menu ul li {
  border-bottom: 1px solid #141414;
}
.mobile-menu ul li a {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 20px;
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.mobile-menu ul .active a {
  background: #4c8eb4;
}
.sticky-wrapper {
  height: auto !important;
}
.sticky-wrapper.is-sticky #main-header {
  background: #fff;
  padding: 10px 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}
.sticky-wrapper.is-sticky #main-header .logo-container h1 {
  color: #4c8eb4;
}
.sticky-wrapper.is-sticky #main-header .logo-container p {
  color: #808080;
}
.sticky-wrapper.is-sticky #main-header .menu-container > ul > li > a {
  color: #808080;
}
.sticky-wrapper.is-sticky #main-header .menu-container > ul > li:hover > a {
  color: #fff;
}
.sticky-wrapper.is-sticky #main-header .menu-container > ul > li.has-icon {
  background: #000;
}
.sticky-wrapper.is-sticky #main-header .menu-container > ul > li.has-icon > a {
  color: #fff;
}
.sticky-wrapper.is-sticky #main-header .menu-container > ul > li.has-dropdown > .dropdown-menu {
  background: #121212;
}
.sticky-wrapper.is-sticky #main-header .menu-container > ul > li.has-dropdown > .dropdown-menu:after {
  border-color: rgba(18, 18, 18, 0);
  border-bottom-color: #121212;
}
.sticky-wrapper.is-sticky #main-header .menu-container > ul > li.has-dropdown > .dropdown-menu > ul > li > a {
  color: #fff;
}
.sticky-wrapper.is-sticky #main-header .menu-container > ul > li.has-dropdown > .dropdown-menu > ul > li > a:hover {
  color: #4c8eb4;
}
.sticky-wrapper.is-sticky #main-header .menu-container > ul > li.active > a {
  color: #fff;
}
#main-header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997 !important;
}
#main-header .logo-container h1 {
  color: #4c8eb4;
  font: 2.571em/1.45 'Oswald-Bold';
  margin: 0;
}
#main-header .logo-container p {
  margin: 0;
}
@media screen and ( max-width: 900px ) {
  #main-header .menu-container {
    display: none;
  }
}
#main-header .menu-container > ul > li {
  margin: 0 10px;
}
@media screen and ( max-width: 900px ) {
  #main-header .menu-container > ul > li {
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #0d0d0d;
  }
}
#main-header .menu-container > ul > li > a {
  text-transform: uppercase;
  padding: 7px 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
@media screen and ( max-width: 900px ) {
  #main-header .menu-container > ul > li > a {
    padding: 15px 20px;
  }
}
#main-header .menu-container > ul > li:hover > a {
  background: #4c8eb4;
  color: #fff;
}
#main-header .menu-container > ul > .has-dropdown {
  position: relative;
}
#main-header .menu-container > ul > .has-dropdown > a:after {
  content: '\f107';
  font: 14px/1.45 'FontAwesome';
  margin-left: 7px;
}
#main-header .menu-container > ul > .has-dropdown > .dropdown-menu {
  display: none;
  background: #fff;
  position: absolute;
  top: 45px;
  right: 0;
  min-width: 180px;
  width: 100%;
  padding: 10px 15px;
}
#main-header .menu-container > ul > .has-dropdown > .dropdown-menu:after {
  bottom: 100%;
  right: 19px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 5px;
  margin-left: -5px;
}
#main-header .menu-container > ul > .has-dropdown > .dropdown-menu > ul li {
  padding: 5px 0;
}
#main-header .menu-container > ul > .has-dropdown > .dropdown-menu > ul li a:hover {
  color: #4c8eb4;
}
#main-header .menu-container > ul > .has-icon > a {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
#main-header .menu-container > ul > .has-icon > a:hover {
  background: #000000;
}
#main-header .menu-container > ul > .has-icon > a span {
  display: block;
}
#main-header .menu-container > ul > .has-icon > a .icon {
  width: 20px;
}
#main-header .menu-container > ul > .active > a {
  background: #4c8eb4;
  color: #fff;
}
#main-header .menu-bar {
  color: #fff;
  display: none;
}
@media screen and ( max-width: 900px ) {
  #main-header .menu-bar {
    display: block;
    padding: 5px 0 0;
  }
}
#main-section {
  min-height: 100vh;
}
#main-section .page-content .home-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#main-section .page-content .home-slider .slider-item .getImg {
  min-height: 100vh;
}
#main-section .page-content .search-form {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  color: #fff;
}
#main-section .page-content .search-form form {
  width: 100%;
}
#main-section .page-content .search-form form .form-title {
  font: 2.286em/1.45 'Oswald-Medium';
  margin: 0 0 5px;
}
#main-section .page-content .search-form form .job-offer {
  font: 1.429em/1.45 'OpenSans-Regular';
  margin: 10px 0 0;
}
#main-section .page-content .search-form form .job-offer span {
  font: 1em/1.45 'Oswald-Medium';
}
#main-section .page-content .search-form form input[type=text] {
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  font: 1em/1.45 'OpenSans-Regular';
}
@media screen and ( max-width: 767px ) {
  #main-section .page-content .search-form form input[type=text] {
    padding: 10px 15px;
  }
}
#main-section .page-content .search-form form .btn-panel button {
  background: #4c8eb4;
  color: #fff;
  display: block;
  padding: 17.5px 0;
  width: 100%;
}
@media screen and ( max-width: 767px ) {
  #main-section .page-content .search-form form .btn-panel button {
    padding: 12.5px 0;
  }
}
#main-section .page-content .search-form form .search-job {
  position: relative;
}
@media screen and ( max-width: 767px ) {
  #main-section .page-content .search-form form .search-job {
    margin: 0 0 10px;
  }
}
#main-section .page-content .search-form form .search-job:after {
  content: '\f0b1';
  font: 1.286em/1.45 'FontAwesome';
  position: absolute;
  top: 14px;
  right: 35px;
  z-index: 2;
  color: grey;
}
#main-section .page-content .search-form form .search-location {
  position: relative;
}
@media screen and ( max-width: 767px ) {
  #main-section .page-content .search-form form .search-location {
    margin: 0 0 10px;
  }
}
#main-section .page-content .search-form form .search-location:after {
  content: '\f124';
  font: 1.286em/1.45 'FontAwesome';
  position: absolute;
  top: 12px;
  right: 21px;
  z-index: 2;
  color: grey;
}
#main-section .page-content .jobseekers-section {
  padding: 50px 0;
}
#main-section .page-content .jobseekers-section .section-title {
  font: 2em/1.45 'Oswald-Bold';
  color: #4c8eb4;
  margin: 0 0 30px;
}
#main-section .page-content .jobseekers-section .column-section {
  padding: 0 15px;
}
#main-section .page-content .jobseekers-section .column-section .column-title {
  font: 1.429em/1.45 'Oswald-Medium';
}
#main-section .page-content .jobseekers-section .column-section .icon {
  width: 100px;
  height: 100px;
  background: #4c8eb4;
  color: #fff;
  border-radius: 100%;
  margin: 0 auto 15px;
}
#main-section .page-content .jobseekers-section .column-section p {
  font: 1.143em/1.45 'OpenSans-Regular';
}
#main-section .page-content .employers-section {
  padding: 50px 0;
  background: #fafafa;
}
#main-section .page-content .employers-section .section-title {
  font: 2em/1.45 'Oswald-Bold';
  color: #4c8eb4;
  margin: 0 0 30px;
}
#main-section .page-content .employers-section .column-section {
  padding: 0 15px;
}
#main-section .page-content .employers-section .column-section .column-title {
  font: 1.429em/1.45 'Oswald-Medium';
}
#main-section .page-content .employers-section .column-section .icon {
  width: 100px;
  height: 100px;
  background: #4c8eb4;
  color: #fff;
  border-radius: 100%;
  margin: 0 auto 15px;
}
#main-section .page-content .employers-section .column-section p {
  font: 1.143em/1.45 'OpenSans-Regular';
}
#main-footer {
  background: #121212;
  padding: 30px 0;
  color: #fff;
}
#main-footer hr {
  border: 0;
  height: 1px;
  background: #333333;
  margin: 20px 0;
  width: 100%;
  display: block;
}
#main-footer .column-title {
  font: 1.286em/1.45 'Oswald-Medium';
  margin: 0 0 10px;
}
#main-footer .footer-links li {
  margin: 0 0 10px;
}
#main-footer .social-links {
  margin: 0 0 20px;
}
#main-footer .social-links .title {
  font: 1.286em/1.45 'Oswald-Medium';
  margin: 0 0 10px;
}
#main-footer .social-links > ul > li {
  margin: 0 10px;
}
#main-footer .social-links > ul > li a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #fff;
}
#main-footer form .form-group {
  margin: 0 0 15px;
}
#main-footer form .form-group label {
  display: block;
}
#main-footer form .form-group input[type=text],
#main-footer form .form-group input[type=email] {
  width: 100%;
  background: #fff;
  padding: 10px 15px;
}
#main-footer form .form-group textarea {
  width: 100%;
  background: #fff;
  padding: 10px 15px;
  height: 90px;
  resize: none;
}
#main-footer form .btn-panel button {
  display: block;
  width: 100%;
  cursor: pointer;
  background: #4c8eb4;
  color: #fff;
  padding: 10px 15px;
  font: 1.286em/1.45 'Oswald-Medium';
  text-transform: uppercase;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-area {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 997;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.modal-area .content-area {
  min-height: 100vh;
}
.modal-area .content-area .progress-bar {
  background: #cccccc;
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
.modal-area .content-area .progress-bar .colored-bar {
  background: #4c8eb4;
  height: 4px;
  position: absolute;
  -webkit-animation: progressBar 1.5s linear infinite;
  animation: progressBar 1.5s linear infinite;
}
.modal-area .content-area .content-form {
  position: relative;
  width: 100%;
  max-width: 480px;
}
.modal-area .content-area .content-form form {
  background: #fff;
}
.modal-area .content-area .content-form form .close-modal {
  color: #df141d;
  padding: 10px 15px;
  position: absolute;
  top: 4px;
  right: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.modal-area .content-area .content-form form .close-modal:hover {
  background: #df141d;
  color: #fff;
}
.modal-area .content-area .content-form form .form-header {
  background: #f2f2f2;
  border-bottom: #e6e6e6;
  padding: 30px 20px;
}
.modal-area .content-area .content-form form .form-header h3 {
  font: 1.714em/1.45 'Oswald-Medium';
  color: #4c8eb4;
  margin: 0;
}
.modal-area .content-area .content-form form .form-content {
  padding: 30px 30px 0;
}
.modal-area .content-area .content-form form .msg-panel {
  padding: 0 30px;
  margin: -20px 0 30px;
}
.modal-area .content-area .content-form form .msg-panel a {
  color: #4c8eb4;
  font: italic 0.857em/1.45 'OpenSans-Regular';
}
.modal-area .content-area .content-form form .btn-panel button {
  cursor: pointer;
  background: #4c8eb4;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font: 1.143em/1.45 'Oswald-Medium';
  padding: 15px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* ----- form styles ----- */
.form-group span.error {
  position: absolute;
  bottom: -20px;
  left: 0;
  font: italic 0.857em/1.45 'OpenSans-Regular';
  color: #df141d;
}
/* ----- alert box styles ----- */
.alert-message {
  color: #fff;
  font: 1em/1.45 'OpenSans-Regular';
}
.alert-message.success {
  background: #4c8eb4;
  margin: 0 0 30px;
  padding: 7px 10px 7px 30px;
  position: relative;
}
.alert-message.success:before {
  content: '\f00c';
  font: 1em/1.45 'FontAwesome';
  position: absolute;
  top: 7px;
  left: 10px;
}
.alert-message.invalid {
  background: #df141d;
  margin: 0 0 30px;
  padding: 7px 10px 7px 30px;
  position: relative;
}
.alert-message.invalid:before {
  content: '\f06a';
  font: 1em/1.45 'FontAwesome';
  position: absolute;
  top: 7px;
  left: 10px;
}
.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 996;
  width: 300px;
  -webkit-box-shadow: 0 1px 7px -3px #000;
  box-shadow: 0 1px 7px -3px #000;
}
.popup-header {
  color: #fff;
  padding: 10px 20px;
}
.popup-message {
  padding: 20px 25px;
  background: #fff;
}
.popup.popup-success .popup-header {
  background: #4c8eb4;
}
.popup.popup-success .popup-header .icon {
  margin: 0 10px 0 0;
}
.popup.popup-success .popup-header h3 {
  font: 1.286em/1.45 'Oswald-Medium';
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.popup.popup-success .popup-header .close-notif {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #2d556d;
}
.popup.popup-success .popup-message a {
  color: #4c8eb4;
  text-decoration: underline;
}
.popup.popup-error .popup-header {
  background: #df141d;
}
.popup.popup-error .popup-header .icon {
  margin: 0 10px 0 0;
}
.popup.popup-error .popup-header h3 {
  font: 1.286em/1.45 'Oswald-Medium';
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.popup.popup-error .popup-header .close-notif {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #810c11;
}
.popup.popup-error .popup-message a {
  color: #df141d;
  text-decoration: underline;
}
/* ----- animation styles ----- */
@-webkit-keyframes progressBar {
  from {
    left: -50%;
    width: 50%;
  }
  to {
    left: 200%;
    width: 0%;
  }
}
@keyframes progressBar {
  from {
    left: -50%;
    width: 50%;
  }
  to {
    left: 200%;
    width: 0%;
  }
}
